{# src/Cooltests/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'CooltestsBlogBundle::layout.html.twig' %}

{% block title %}Контакты{% endblock%}

{% block body %}
    <header>
        <h1>Контакты symblog</h1>
    </header>

    <p>Чтобы с нами связаться, заполните, пожалуйста, форму:</p>
{% endblock %}